body {
    background-image: url("/assets/images/img5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
    width: 100%;
    margin-top: -150px;
    overflow: hidden;
}

.btn {
    margin-left: 15px;
    margin-top: 155px;
}