<body>
    <div class="main">
        <div class="background-image">

            <div>
                <div class="main">
                    <button type="button" class="btn" (click)="navigateTo('admin')" class="btn btn-primary btn-rounded">Admin</button>
                    <button type="button" class="btn" (click)="navigateTo('owner')" class="btn btn-warning btn-rounded">Owner</button>
                    <button type="button" class="btn" (click)="navigateTo('user')" class="btn btn-success btn-rounded">User</button>
                </div>

                <div class="hotelAnimation">
                    WELCOME TO HOTEL SILVER PALACE
                </div>
            </div>
        </div>
    </div><br>
</body>