.login {
  color: #fff;
}

.login a {
  color: #4378da;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
}

.user-image {
  height: 150px;
  width: 150px;
  padding-top: 5px;
}

body {
  background-color: rgb(204, 68, 68);
  height: 130%;
  width: 100%;
}

.sign-up {
  color: #fff;
}

.sign-up a {
  color: #d39e00;
  font-weight: 600;
  text-decoration: none;
}

.auth-card {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #0d1762, #c31432);
  background: linear-gradient(to right, #2d0b64, #c31432);
  border-radius: 5px;
  box-shadow: 0px 0px 25px #f7f7f7;

}

.user-image {
  height: 70px;
  width: 70px
}

label {
  color: #fff;
  font-weight: 700;
}

.auth-avatar {
  text-align: center;
  margin-top: -50px;
}

.auth {
  margin-top: 35px;
  border: none;
  border-radius: 6px;
}

.text-right.forget-pass a {
  font-size: 12px;
  color: #d39e00;
  text-decoration: none;
}

.btn-my {
  background-color: #1f15aa;
  border-color: #25231d;
  color: #fff;
}

.simple-keyboard {
  max-width: 850px;
}

mat-form-field {
  padding: 8px;
  width: 95%;
}

.errorMsg {
  color: #c31432;
  font-size: 14px;
}